.Wrapper{
    max-height: fit-content;
    width: 1400px;
    max-width: 1400px;
    background: #cccccc;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    /* @sldsValidatorIgnore */
    text-overflow: wrap;
    /* @sldsValidatorIgnore */
    white-space: normal;
    word-wrap:break-word;
}
.main{
    flex: 1;
    order: 1;
    background: #eeeeee;
    overflow-wrap: break-word;
    /* @sldsValidatorIgnore */
    text-overflow: wrap;
    /* @sldsValidatorIgnore */
    white-space: normal;
    word-wrap:break-word;
    height: fit-content;
}

.sidebar-second{ 
    width: 50%;
    order: 2;
    background: #ddd;
    overflow-wrap: break-word;
    /* @sldsValidatorIgnore */
    text-overflow: wrap;
    /* @sldsValidatorIgnore */
    white-space: normal;
    word-wrap:break-word;
    max-height: fit-content;
}
.content {
    display: flex;
    flex: 1;
    background: #eee;
    color: #000; 
    max-width: 1320px;
    overflow: auto;
    max-height: fit-content;
}
.columns{
    display: flex;
    flex:1;
}

.TileDescription {
    max-width: 600px;
    overflow-wrap: break-word;
    /* @sldsValidatorIgnore */
    text-overflow: wrap;
    /* @sldsValidatorIgnore */
    white-space: normal;
    word-wrap:break-word;
    /* font-weight: bold; */
    font-size: small;
}

.AboutMeTab {
    color:#000;
}

.Goals {
    color:#000;
    background: #ffffff;
    overflow: auto;
    max-height: 540px;
}

.ProjectTitle {
    font-size: x-large;
    font-weight: bold;
}

.SectionHeaders{
    font-size: large;
}

.AccordianSectionIncomplete {
    --slds-c-accordion-summary-color-background: #032d60;
}

.AccordianSectionComplete {
    --slds-c-accordion-summary-color-background: #008000;
}
 
.AccordianDetail {
    padding-top: 5px;
 }